.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.GiftList {
  display: flex;
     align-items: center;
     justify-content: left;
     flex-flow: row wrap;
     align-content: flex-start;
}

.GiftListItem{
  background-color: lightgray;
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 300px;
}

.ButtonHolder {
  float: right
}
