
.NavBar {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

Main {
  background-color: ivory;
  height: fill;
}

.GiftList {
  display: flex;
     align-items: center;
     justify-content: left;
     flex-flow: row wrap;
     align-content: flex-start;
}

.GiftListItem{
  background-color: lightgray;
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 300px;
}

.ButtonHolder {
  float: right
}
